name: release

on:
  release:
    types: [published]

jobs:
  pypi-publish:
    name: Publish release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/beancount-gocardless
    permissions:
      id-token: write
    steps:
       - uses: actions/checkout@v4
       - name: Install uv
         uses: astral-sh/setup-uv@v4
         with:
           version: "latest"
       - name: Set up Python
         uses: actions/setup-python@v4
         with:
           python-version: "3.12"
       - name: Install dependencies
         run: uv sync --extra dev
       - name: Build package
         run: uv build
       - name: Publish package to PyPI
         env:
           UV_PUBLISH_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
         run: uv publish
       - name: Build Sphinx documentation
         run: |
           uv run sphinx-build -b html docs/ docs/_build
       - name: Upload documentation artifact
         uses: actions/upload-artifact@v4
         with:
           name: sphinx-docs
           path: docs/_build
